<ion-header>
  <ion-toolbar>
    <ion-title>
      Velkommen!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>og her kommer det.................</ion-card-subtitle>
        <ion-card-title>Appen fra Adele!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Den appen skal inneholde mye fornuftig informasjon</p>
        <p>Bruk knappene nederst for a se de andre sidene</p>
      </ion-card-content>
    </ion-card>
</ion-content>
